numpy==1.23.0
pandas
scipy
scikit-learn
sentencepiece
tokenizers
numexpr
transformers
attrs==19.3.0
bs4==0.0.1
jsonnet==0.15.0
lxml==4.9.1
datasets==1.1.2
nltk>=3.5
python-Levenshtein==0.12.0
sacremoses==0.0.43
seqeval==0.0.12
tqdm==4.46.0
